.md-grid {
  max-width: 80%;
}

html{
font-size: 1.25rem;
}

:root {
  --md-primary-fg-color:        #004E91;
}

readthedocs-flyout { display: none; }

.md-search {
margin-right: 1%;
}

.md-search-result .md-typeset {
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
}

.md-copyright__highlight {
  color: #6F7073;
}

.md-social > a > svg > path {
  fill:#6F7073
}

.md-footer .sitemap {
  display: flex; 
  justify-content:space-between; 
  padding-left: 0%;
  padding-right: 0%;
  margin: auto;
  max-width: 80%;
}